header {
  background-color: #333;
  color: #fff;
  padding: 1rem 0;
}
header .logo img {
  max-height: 50px;
  margin-bottom: 1rem;
}
header ul.nav {
  list-style: none;
  margin: 0;
  padding: 0;
}
header ul.nav li {
  display: block;
  margin-bottom: 0.5rem;
}
header ul.nav li a {
  color: #fff;
}

@media (min-width: 768px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo img {
    max-height: 70px;
    margin-bottom: 0;
  }
  ul.nav {
    display: flex;
    align-items: center;
  }
  ul.nav li {
    display: inline-block;
    margin-left: 1rem;
    margin-bottom: 0;
  }
}
footer {
  padding: 1rem 0;
  background-color: #343a40;
  color: #fff;
}
footer .container {
  text-align: center;
}
footer nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
footer nav ul li {
  display: inline-block;
  margin-right: 1rem;
}
footer nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}
footer nav ul li a:hover {
  color: #f8f9fa;
}
footer .contacto p {
  margin: 0;
  font-size: 1rem;
}
footer .contacto p + p {
  margin-top: 0.5rem;
}
footer .redes-sociales a {
  color: blue;
  text-decoration: none;
  font-size: 1rem;
}
footer .redes-sociales a:not(:last-child) {
  margin-right: 1rem;
}
footer .redes-sociales a i {
  margin-right: 0.5rem;
}
footer .redes-sociales a:hover {
  color: #f8f9fa;
}
footer .row {
  flex-direction: column;
}
footer .row .col-md-2,
footer .row .col-md-4 {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) {
  footer .row {
    flex-direction: row;
  }
  footer .row .col-md-2,
  footer .row .col-md-4 {
    margin-bottom: 0;
  }
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

a {
  text-decoration: none;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1rem 0;
}
header .logo img {
  max-height: 50px;
}
header ul.nav {
  list-style: none;
  margin: 0;
  padding: 0;
}
header ul.nav li {
  display: inline-block;
  margin-left: 1rem;
}
header ul.nav li a {
  color: #fff;
}
header ul.nav li:first-child {
  margin-left: 0;
}

.portada {
  background-color: #f2f2f2;
  padding: 2rem 0;
}
.portada h1 {
  font-size: 3rem;
  font-weight: normal;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}
.portada h6 {
  font-size: 1.5rem;
  font-weight: normal;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.portada-contenido .lead {
  font-size: 1.2rem;
}

.servicios {
  background-color: #fff;
  padding: 2rem 0;
}
.servicios h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.servicios p {
  font-size: 1.2rem;
}
.servicios .card .card-title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
.servicios .card .card-text {
  font-size: 1.2rem;
}

.video {
  background-color: #f2f2f2;
  padding: 2rem 0;
}
.video .embed-responsive .embed-responsive-item {
  height: 100%;
}

.clientes {
  background-color: #fff;
  padding: 2rem 0;
}
.clientes h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.clientes p {
  font-size: 1.2rem;
}

.container.my-5 .row .col-md-6.mb-6 .accordion .accordion-item h2.accordion-header button.accordion-button {
  background-color: #f2f2f2;
  border: none;
  border-radius: 5px;
  color: #333;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1rem;
  text-align: left;
  width: 100%;
  transition: background-color 0.3s;
}
.container.my-5 .row .col-md-6.mb-6 .accordion .accordion-item h2.accordion-header button.accordion-button.collapsed {
  background-color: #f9f9f9;
}
.container.my-5 .row .col-md-6.mb-6 .accordion .accordion-item h2.accordion-header button.accordion-button:hover {
  background-color: #e5e5e5;
}
.container.my-5 .row .col-md-6.mb-6 .accordion .accordion-item div.accordion-collapse {
  background-color: #f9f9f9;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 1rem;
  margin-top: 0.5rem;
  transition: all 0.3s;
}
.container.my-5 .row .col-md-6.mb-6 .accordion .accordion-item div.accordion-collapse.show {
  display: block;
}
.container.my-5 .row .col-md-6.mb-6 .accordion .accordion-item div.accordion-collapse .accordion-body {
  font-size: 1.1rem;
}

.portada {
  margin-top: 3rem;
  position: relative;
}
.portada img {
  width: 100%;
  height: auto;
}
.portada .position-absolute {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.portada .position-absolute h1 {
  font-size: 2.5rem;
  font-weight: normal;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

/*# sourceMappingURL=estilos.css.map */
