footer {
  padding: 1rem 0;
  background-color: #343a40;
  color: #fff;

  .container {
    text-align: center;
  }

  nav {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        display: inline-block;
        margin-right: 1rem;

        a {
          color: #fff;
          text-decoration: none;
          font-size: 1rem;

          &:hover {
            color: #f8f9fa;
            position: relative;

            &:before {
              content: "";
              position: absolute;
              width: 100%;
              height: 2px;
              bottom: -4px;
              left: 0;
              background-color: #fff;
              visibility: hidden;
              transform: scaleX(0);
              transition: all 0.3s ease-in-out;
            }
          }

          &:hover:before {
            visibility: visible;
            transform: scaleX(1);
          }
        }
      }
    }
  }

  .contacto {
    p {
      margin: 0;
      font-size: 1rem;
    }

    p+p {
      margin-top: 0.5rem;
    }
  }

  .redes-sociales {
    a {
      color: #fff;
      text-decoration: none;
      font-size: 1rem;

      &:not(:last-child) {
        margin-right: 1rem;
      }

      i {
        margin-right: 0.5rem;
      }

      &:hover {
        color: #f8f9fa;
      }
    }
  }
}