header {
  background-color: whitesmoke;
  color: #fff;
  padding: 1rem 0;

  .logo img {
    max-height: 50px;
    margin-bottom: 1rem;
  }

  ul.nav {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  ul.nav li {
    display: block;
    margin-bottom: 0.5rem;
  }

  ul.nav li a {
    color: #fff;
  }
}

@media (min-width: 768px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo img {
    max-height: 70px;
    margin-bottom: 0;
  }

  ul.nav {
    display: flex;
    align-items: center;
  }

  ul.nav li {
    display: inline-block;
    margin-left: 1rem;
    margin-bottom: 0; 
  }
}
